@import "~bootstrap/scss/bootstrap";

// HEADER
header{
    .bg{
        background-color: #4e4ef6;
    }

    input{
        text-align: end;
        border: none;
        border-bottom: 2px solid blue;
        margin-right: -30px;
        padding-right: 33px;
        width: 130px;
    }

    img{
        width: 70px;
        padding: 15px 0;
    }

    ul{
        li{
            list-style: none;
            display: inline;
            margin-right: 33px;
        }
    }

    .stop_link{
        color: blue;
        border-bottom: 4px solid blue;
        padding-bottom: 44px;
    }
}

//JAMBO
.jambo{
    img{
        width: 100%;
        height: 521px;
        object-fit: cover;
        object-position: top;
    }
}

// MAIN
.bg_main{
    background-color: rgb(21, 20, 20);

    label{
        background-color: blue;
        padding: 11px 29px;
        margin: -25px;
        font-size: 30px;
    }

    .img_comic{
        width: 100%;
        height: 250px;

        img{
            height: 100%;
        }
    }

    h6{
        color: white;
    }

    button{
        background-color: blue;
        border: none;
        padding: 20px 50px;
        color: white;
        margin-bottom: 20px;
    }

}

//SHOP

.bg_shop{
    background-color: blue;

    img{
        width: 40px;
    }

    span{
        font-size: 10px;
    }

    .card_shop{
        margin: 30px auto;
    }
}

//FOOTER

.bg_footer{
    background-image:url("~res/imgs/footer-bg.jpg");
    background-size: cover;

    h5 {
        color: white;
        font-size: 15px;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    a {
        color: gray;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }

    p{
        color: gray;
        font-size: 14px;
    }

    ul{
        padding: 0;

        li {
            list-style-type: none;
        }

    }

    .container {
        display: flex;
        justify-content: space-between;

        .navbar_footer {
            margin: 20px 0;
            display: flex;
        }

        .link{
            margin-right: 20px;
        }
    }

    .logo_bg{
        background-image: url("~res/imgs/dc-logo-bg.png");
        width: 43%;
        background-size: cover;
        background-position: center;
    }
}



